src/Chapter4/Chapter4_InteractiveDataPaging/Chapter4_InteractiveDataPaging/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Sales" type="tns:Sales" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Sales">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SalesItem" type="tns:SalesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SalesItem">
    <xs:attribute blend:Format="Company Name" name="CompanyName" type="xs:string" />
    <xs:attribute blend:Format="Name" name="SalesPerson" type="xs:string" />
    <xs:attribute blend:FormatParameters="5" name="SalesAmount" type="xs:double" />
    <xs:attribute blend:FormatParameters="5" name="SalesForecast" type="xs:double" />
  </xs:complexType>
</xs:schema>